html, body {
    margin: 0;
    width: 100%;
    height: 100%;
}

body {
    background-image: url("bg.png");
}

canvas {
    image-rendering: pixelated;
    image-rendering: optimizeSpeed;
}

#mainflex {
    display: flex;
    flex-flow: row wrap-reverse;
    justify-content: space-between;
    margin: 0 2vw;
    height: 100%;
}

* {
    font-family: "DejaVu Sans Mono", consolas, monospace;
    font-size: 12pt;
}

h1 {
    background-color: black;
    color: white;
    width: 50%;
    font-size: 20pt;
    text-align: center;
    margin: 10px;
}

#codepane {
    flex: 40ch 1 1;
    margin: 0;
    align-self: start;

    background-color: ivory;
    padding: 10pt;
}

.emulator {
    flex: auto 1 2;
    max-width: calc(100vmin - 70px);
}

#screen {
    width: calc(100% - 20pt);
    max-height: calc(100vmin - 70px);
    background-color: thistle;
    border: 10pt;
    border-style: solid;
    border-color: darkgrey;
}

#cursor {
    position: relative;
    display: inline-block;
    width: 0;
    height: 0;
    animation: 0.5s linear infinite cursor_blink;
}

@keyframes cursor_blink {
    0% { opacity: 0.8; }
    50% { opacity: 0.2; }
}

#run {
    padding: 5pt 20pt;
    width: 100%;
    font-size: 20pt;
    background-color: lightgrey;
}

#run:active {
    background-color: red;
    color: white;
}

.codeline {
    display: inline-block;
    width: 100%;
    height: 18px;
}

.oddline {
    background-color: #e0f0e8;
}

.label {
    display: inline-block;
    min-width: 15%;
    color: deeppink;
}

.code {
    display: inline-block;
    width: 20ch;
    color: darkred;
}

.comment {
    display: inline-block;
    color: peru;
}
