body {
  max-width: 600pt;
  margin: auto;
}

button {
  background-color: #9999ff;
  padding: 8pt;
}

#buttons {
  display: block;
  margin-left: 5%;
  width: 90%;
}

.quizbutton {
  background-color: #ff9999;
}

.info {
  color: gray;
}

#question {
  background-color: white;
  margin: 8pt;
  min-height: 100pt;
}
