body {
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100svw;
    height: 100svh;
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
}

pre {
    margin: 0;
}

#playfield {
    user-select: none;
    cursor: crosshair;
    width: 100svw;
    height: 100svw;
    outline: 4px solid white;
}

.viewport {
    transform-origin: 0px 0px;
    overflow: hidden;
}

.statusMessage {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

.statusMessage div {
    font-family: serif;
    font-size: 10px;
    font-style: italic;
    width: 100%;
    white-space: pre;
    text-align: center;
}

@media (min-aspect-ratio: 1/1) {
    #playfield {
        width: 100svh;
        height: 100svh;
    }
}

.game-entity {
    position: absolute;
}

.brick, .ball, .paddle {
    outline-offset: -1px;
}

.brick {
    background: red;
}

.brick.solid {
    background: transparent;
    outline: 1px solid gray;
}

.brick.killer {
    outline: 1px solid #c0f;
}

.killBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    animation-name: danger;
    animation-direction: alternate;
    animation-duration: 0.125s;
    animation-iteration-count: infinite;
}

@keyframes danger {
    0% {
        outline-color: white;
    }
    100% {
        outline-color: red;
    }
}

.killBlock::before {
    font-size: 14px;
    content: '☠';
    color: white;
}

.ball {
    background: white;
}

.paddle {
    border-top: 1px solid white;
    background: #08f;
}

#scoreboard {
    position: absolute;
    z-index: 1;
}