body {
    touch-action: none;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 100svw;
    height: 100svh;
    margin: 0;
    background: black;
    color: white;
    overflow: hidden;
}

pre {
    margin: 0;
}

#playfield {
    user-select: none;
    cursor: crosshair;
    width: 100svw;
    height: 100svw;
    outline: 4px solid gray;
    background: radial-gradient(circle at 50% 10%, #210 0%, #002 100%);
}

.viewport {
    transform-origin: 0px 0px;
    overflow: hidden;
}

.statusMessage {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: stretch;
    width: 100%;
    height: 100%;
}

.statusMessage div {
    font-family: serif;
    font-size: 10px;
    font-style: italic;
    width: 100%;
    white-space: pre;
    text-align: center;
}

@media (min-aspect-ratio: 1/1) {
    #playfield {
        width: 100svh;
        height: 100svh;
    }
}

.game-entity {
    position: absolute;
}

.brick, .ball, .paddle {
    outline-offset: -1px;
    border-radius: 1px;
}

.brick {
    background: linear-gradient(#f40 0%, #f04 100%);
    box-shadow: 0px 0px 2px red;
}

.brick.solid {
    background: linear-gradient(45deg, #fff 0%, #a88 30%, #def 50%, #988 70%, #fff 100%);
    box-shadow: 0px 0px 2px #ffe8;
}

.brick.killer {
    outline: 1px solid #c0f;
    box-shadow: 0px 0px 2px #f0f;
}

.killBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 1px solid white;
    border-radius: 1px;

    background: no-repeat center / contain url(gfx/skull.svg);
    box-shadow: 0px 0px 4px #444;

    animation-name: danger;
    animation-timing-function: linear;
    animation-duration: 0.25s;
    animation-iteration-count: infinite;
}

@keyframes danger {
    0% {
        outline-color: white;
    }
    100% {
        outline-color: red;
    }
}

.ball {
    z-index: 1;
    background: white;
    border-radius: 1px;
    box-shadow: 0px 0px 4px #04f;
}

.paddle {
    border-top: 1px solid white;
    background: linear-gradient(#048 0%, #08f 40%);
    border-radius: 0px 0px 4px 4px;
}

.blackHole {
    box-sizing: border-box;
    border: 4px solid #84c;
    outline: 2px solid gray;
    border-radius: 50%;
    animation: .5s ease-out 0s infinite forwards holezoom;

}

@keyframes holezoom {
    0% {
        outline-offset: 12px;
        outline-color: #fff0;
    }
    100% {
        outline-offset: -10px;
        outline-color: #ffff;
    }
}

#scoreboard {
    position: absolute;
    z-index: 1;
}
